@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Black+Ops+One&family=Bungee&family=Caveat:wght@400..700&family=Dosis:wght@200..800&family=Fugaz+One&family=Honk&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kalnia:wght@100..700&family=Miltonian+Tattoo&family=Press+Start+2P&family=Protest+Strike&family=Sacramento&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	color: black;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}

.mainDiv{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	/*background-image: url("https://www.xtrafondos.com/wallpapers/impresionante-atardecer-8449.jpg");*/
		background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.color-change-5x {
	-webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

@-webkit-keyframes color-change-5x {
  0% {
    background: transparent;
  }
  25% {
    background: transparent;
  }
  50% {
    background: transparent;
  }
  75% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes color-change-5x {
  0% {
    background-image: url(https://cdn.hero.page/wallpapers/49c5a10e-8576-4a5f-a5f6-0003e8323660-stellar-mysteries-endless-universe-wallpaper-3.png);
  }
  25% {
    background-image: url("https://www.xtrafondos.com/wallpapers/impresionante-atardecer-8449.jpg");
  }
  50% {
    background-image: url(https://4kwallpapers.com/images/wallpapers/universe-spiral-3840x2160-10972.jpg);
  }
  75% {
    background-image: url(https://e0.pxfuel.com/wallpapers/912/369/desktop-wallpaper-super-high-resolution-space.jpg);
  }
  100% {
    background-image: url(https://e0.pxfuel.com/wallpapers/862/237/desktop-wallpaper-green-nebula.jpg);
  }
}



.mainHeading h1{
	margin-left: 520px;
	margin-top: 50px;
	font-size: 60px;
	-webkit-text-stroke-width: 2px;
	font-weight: bolder;
  -webkit-text-stroke-color: black;
  color: white;
}

.container{
	display: flex;
	margin-left: 540px;
	margin-top: 60px;
	border: 2px solid black;
	background-color: white;
	width: 30%;
	height: 40px;
	border-radius: 10px;
}
.textfield input{
	width: 420px;
	height: 37px;
	border-radius: 10px;
	/*background-color: white;*/
	border: none;
	outline: none;
	font-size: 20px;
	padding: 10px;
}
.search-btn button{
	height: 37px;
	width: 38px;
	border-radius: 10px;
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
}
.search-btn svg{
	height: 20px;
	width: 20px;
}

.cityname #city{
font-family: "Bungee", sans-serif;
font-size: 40px;
margin:6px;
color: white;
/*margin-top: 30px;*/
margin-left:300px;
}

.cityname #temp{
margin-left:330px;
color: white;
	font-size: 30px;
	
}

.th1{
	color: darkorange;
	font-size: 30px;
}

.wind-humidity{
	margin-left: 340px;
	height: 130px;
	margin-top: 30px;
	border: 2px solid white;
	width: 480px;
	padding: 30px;
	border-radius: 20px;
	background-color: white;
	opacity: 0.7;
	display: flex;
}

.humidity-div{
	margin-left: 50px;
	border-left: 2px solid black;
}

.th2{
	margin-left: 40px;
	line-height: 30px;
	font-size: 20px;
	color: grey;
}

.humidity-div .th1{
	margin-left: 60px;
}
.humidity-div .th2{
	margin-left: 100px;
}



